* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-position-x: -40rem;
    background-position-y: -80rem;
    background-image: url('img/background.jpg');
    backdrop-filter: blur(5px);
    font-family: 'font';
}
html {
    overflow: hidden;
}

@font-face {
    font-family: 'font';
    src: url('OMEGLE.ttf');
}

.searchWraper {
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    margin-top: 15rem;
    
}

.searchWraper .border {
    width: 40rem;
    height: 20rem;
    padding-top: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 30px -10px #000000;
}

.searchWraper .border .search h2 {
    color: #d68a19;
    font-size: 30pt;
    margin-top: -1px;
    margin-bottom: 40px;
}


.searchWraper .border .search input[type="submit"] {
    font-family: 'font';
    width: 6rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 1s;
}

form {
    opacity: 0.5;
    transition: 1s;
    cursor: pointer;
}

form:hover {
    opacity: 1;
    transition: 1s;
}
.searchWraper .border .search input[type="submit"]:hover {
    box-shadow: 1px 1px 10px 1px orange;
    transition: 1s;
    
}

.searchWraper .border .search input[name="searchInput"] {
    width: 13rem;
    font-family: 'font';
    height: 2rem;
    border-radius: 10px;
    margin-right: 10px;
    color: white;
    text-align: center;
    outline: none;
    background-color: transparent;
    border: none;
    box-shadow: 1px 1px 10px 1px orange;
    margin-bottom: 30px;
}

#graus {
    font-size: 40pt;
    color: rgb(0, 0, 0);
    margin-top: 0.4rem;
    box-shadow: 1px 1px 10px 1px orange;
    width: 20rem;
    padding-top: 10px;
    padding-left: 15px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    border-radius: 30px;
    background-color: #d68a19;

}

#nome {
    margin-top: 1.8rem;
    left: 28%;
    font-size: 15pt auto;
    position: absolute;
    z-index: 1;
}

#icn {
    margin-top: 2px;
    margin-left: 4rem;
    position: absolute;
    width: 4rem;
}

#h3 {
    top: 140%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    color: gray;
}

#none {
    color: gray;
}